* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

input,
button{
    width: 350px;
    border-radius: 20px;
    padding: 8px;
}



